@import url(https://fonts.googleapis.com/css?family=Lobster|Bree+Serif);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);

:root {
  --cyan: rgb(53, 220, 246);
  --pink: rgb(234, 64, 170);
  --primary: rgb(244, 244, 244);
  --secondary: rgb(51, 62, 163);
  --blue: rgb(51, 62, 163);
  --gray: rgb(82, 82, 82);
  --background: rgb(22, 22, 22);
}

.primary, .white {
  color: var(--primary);
}

.secondary, .blue {
  color: var(--secondary);
}

.accent, .cyan {
  color: var(--cyan);
}

.secondary-accent, .pink {
  color: var(--pink);
}

.background, .black {
  color: var(--background);
}


body {
  background-color: var(--background);
  color: var(--primary);
  font-family: 'Bree serif', serif;
  font-size: 18px;
  line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

h1 {
  font-size: 80px;
}

a:hover {
  text-decoration: none;
  text-shadow: 0 0 1px rgb(53, 220, 246);
}

blockquote {
  line-height: 2em;
}

blockquote:before, blockquote:after {
  font-family: 'FontAwesome';
  margin: 10px;
  position: relative;
  bottom: 10;
  font-size: 36px;
}

blockquote:before {
  content: "\f10d";
}

blockquote:after {
  content: "\f10e";
}

section {
  padding: 1em;
}

footer {
  padding: 1em;
  background-color: var(--gray);
  text-align: left;
}

footer .callout {
  max-width: 40%;
  margin-fight: 60%;
}

#footer-logo {
  position: absolute;
  right: 15%;
  margin-top: -130px;
}

.sm {font-size: 0.8em;} 
.md {font-size: 1em;}
.lg {font-size: 2em;}
.xl {font-size: 3em;}


#github-link {
  position: absolute;
  top: 0;
  right: 0;
}

#intro {
  height: 200px;
  background-color: var(--blue);
  text-align: center;
}

#intro h2 {
  font-family: 'Bree serif';
}

#quote {
  height: 50px;
  background-color: var(--gray);
  z-index: 900;
}

#logo {
  position: relative;
  z-index: 1000;
}

.nav-bar {
  float: left;
  width: 30%;
  margin-top: -150px;
  display: none;
}

@media (min-width: 750px) {
  .nav-bar {
    display: block;
  }
}

.chapter {
  width: 100%;
  padding: 1em;
}

.chapter pre {
  margin-right: 40px;
}

@media (min-width: 750px) {
  .chapter {
    width: 60%;
    margin-left: 30%;
  }

  .chapter pre {
    margin-left: -40%;
  }
}

.nav li {
  padding-left: 2em;
  list-style: none;
  font-size: 1.2em;
}

.nav li a:hover:after {
  font-family: 'FontAwesome';
  content: "\f0a4";
  margin-left: 0.5em;
  font-size: 0.9em;
}

#quote blockquote {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

@media (min-width: 750px) {
  #quote blockquote {
    width: 66%;
    margin-left: 33%;
    text-align: left;
  }
}

#body {
  padding-top: 0;
}

#body .container {
  padding-top: 2em;
  background-color: var(--primary);
  color: var(--background);
  min-height: 100%;
}

#body h2, h3 {
  color: var(--blue);
}

#body .container .column {
  padding-right: 2em;
}

.step {
  margin-bottom: 1em;
}

.step .number {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 40px;
  background-color: var(--pink);
  border: 1px solid var(--background);
  text-align: center;
}

.step .instructions {
  margin-left: 40px;
  display: inline;
}
